* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0;
  background-color: #444;
  transition: all 0.5s ease;
}

button {
  cursor: pointer;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  color: #fff;
  background: none;
  font-weight: bold;
  transition: all 0.5s ease;
}

.time-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  border-radius: 10px;
  padding: 20px 50px;
  transition: all 0.5s ease;
}

.btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.time-wrapper h1 {
  font-size: 10rem;
  color: #fff;
}

.toggle-btn {
  font-size: 30px;
  padding: 15px 0;
  letter-spacing: 1px;
  background-color: #fff;
  width: 15rem;
}
